/San_francisco/20210101_184738_ssc13_u0001_visual.tif
/San_francisco/20210101_184738_ssc13_u0001_visual.tif.aux.xml
/San_francisco/accuearth/
/San_francisco/frame_index.csv
/San_francisco/FrameGCPs.json
/San_francisco/l1a_frames/
/San_francisco/frameRPC.json

/Cocabamba/frameRPC.json
/Cocabamba/l1a_frames/
/Cocabamba/FrameGCPs.json
/Cocabamba/frame_index.csv

/Angkor_wat/frameRPC.json
/Angkor_wat/l1a_frames/
/Angkor_wat/FrameGCPs.json
/Angkor_wat/frame_index.csv

/landsat/
/AccuEarth_GCP_archive/
/optimization/
/.venv/
/.idea/
/KEy
